@component('components/layout', { title: title })
  <h3>
    {{ title }}
  </h3>
  <form action="{{ route('teacher.update', {id: teacher.id}) }}" method="post">
    @include('partials/createOrUpdateForm')
  </form>
@endcomponent
