<label for="{{ name }}">{{ label }}</label>
<input
  type="{{ type || text }}"
  name="{{ name }}"
  id="{{ name }}"
  value="{{ value || '' }}"
  placeholder="{{ label }}"
/>
@inputError(name)
  @each(message in $messages)
    <p class="text-danger">
      {{ message }}
    </p>
  @end
@end
